<!DOCTYPE html>
<html lang="pt-br">

<head>


</head>

<body>

    <h3>
        Outros
    </h3>
    <div style="width: 100%; overflow: hidden; margin-top:12px;">
        <div style="display: inline-block">
            <iframe style="border-radius: 8px;" src="../reports/completo_Outros.html" frameborder="0" height="600"
                width="700"></iframe>
        </div>
        <div style="display: inline-block; margin-left: 24px;">
            <iframe style="border-radius: 8px;" src="../dashboards/dash_setor_Outros.html" height="600"
                width="700"></iframe>
        </div>
    </div>
    <h3>
        Bens Industriais
    </h3>
    <div style="width: 100%; overflow: hidden;margin-top:12px;">
        <div style="display: inline-block">
            <iframe style="border-radius: 8px;" src="../reports/completo_Bens_Industriais.html" frameborder="0"
                height="600" width="700"></iframe>
        </div>
        <div style="display: inline-block;margin-left: 24px;">
            <iframe style="border-radius: 8px;" src="../dashboards/dash_setor_Bens_Industriais.html" height="600"
                width="700"></iframe>
        </div>
    </div>
    <h3>
        Consumo Cíclico
    </h3>
    <div style="width: 100%; overflow: hidden;margin-top:12px;">
        <div style="display: inline-block">
            <iframe style="border-radius: 8px;" src="../reports/completo_Consumo_Cíclico.html" frameborder="0"
                height="600" width="700"></iframe>
        </div>
        <div style="display: inline-block;margin-left: 24px;">
            <iframe style="border-radius: 8px;" src="../dashboards/dash_setor_Consumo_Cíclico.html" height="600"
                width="700"></iframe>
        </div>
    </div>
    <h3>
        Consumo não Cíclico
    </h3>
    <div style="width: 100%; overflow: hidden;margin-top:12px;">
        <div style="display: inline-block">
            <iframe style="border-radius: 8px;" src="../reports/completo_Consumo_não_Cíclico.html" frameborder="0"
                height="600" width="700"></iframe>
        </div>
        <div style="display: inline-block;margin-left: 24px;">
            <iframe style="border-radius: 8px;" src="../dashboards/dash_setor_Consumo_não_Cíclico.html" height="600"
                width="700"></iframe>
        </div>
    </div>
    <h3>
        Financeiro
    </h3>
    <div style="width: 100%; overflow: hidden;margin-top:12px;">
        <div style="display: inline-block">
            <iframe style="border-radius: 8px;" src="../reports/completo_Financeiro.html" frameborder="0" height="600"
                width="700"></iframe>
        </div>
        <div style="display: inline-block;margin-left: 24px;">
            <iframe style="border-radius: 8px;" src="../dashboards/dash_setor_Financeiro.html" height="600"
                width="700"></iframe>
        </div>
    </div>
    <h3>
        Materiais Básicos
    </h3>
    <div style="width: 100%; overflow: hidden;margin-top:12px;">
        <div style="display: inline-block">
            <iframe style="border-radius: 8px;" src="../reports/completo_Materiais_Básicos.html" frameborder="0"
                height="600" width="700"></iframe>
        </div>
        <div style="display: inline-block">
            <iframe style="border-radius: 8px;margin-left: 24px;" src="../dashboards/dash_setor_Materiais_Básicos.html"
                height="600" width="700"></iframe>
        </div>
    </div>
    <h3>
        Petróleo,Gás e Biocombustíveis
    </h3>
    <div style="width: 100%; overflow: hidden;margin-top:12px;">
        <div style="display: inline-block">
            <iframe style="border-radius: 8px;" src="../reports/completo_Petróleo,_Gás_e_Biocombustíveis.html"
                frameborder="0" height="600" width="700"></iframe>
        </div>
        <div style="display: inline-block">
            <iframe style="border-radius: 8px;margin-left: 24px;"
                src="../dashboards/dash_setor_Petróleo,_Gás_e_Biocombustíveis.html" height="600" width="700"></iframe>
        </div>
    </div>
    <h3>
        Saúde
    </h3>
    <div style="width: 100%; overflow: hidden;margin-top:12;">
        <div style="display: inline-block">
            <iframe style="border-radius: 8px;" src="../reports/completo_Saúde.html" frameborder="0" height="600"
                width="700"></iframe>
        </div>
        <div style="display: inline-block;">
            <iframe style="border-radius: 8px;margin-left: 24px;" src="../dashboards/dash_setor_Saúde.html" height="600"
                width="700"></iframe>
        </div>
    </div>
    <h3>
        Tecnologia da Informação
    </h3>
    <div style="width: 100%; overflow: hidden;margin-top:12;">
        <div style="display: inline-block">
            <iframe style="border-radius: 8px;" src="../reports/completo_Tecnologia_da_Informação.html" frameborder="0"
                height="600" width="700"></iframe>
        </div>
        <div style="display: inline-block">
            <iframe style="border-radius: 8px;margin-left: 24px;"
                src="../dashboards/dash_setor_Tecnologia_da_Informação.html" height="600" width="700"></iframe>
        </div>
    </div>
    <h3>
        Telecomunicações
    </h3>
    <div style="width: 100%; overflow: hidden;margin-top:12;">
        <div style="display: inline-block">
            <iframe src="../reports/completo_Telecomunicações.html" frameborder="0" height="600" width="700"></iframe>
        </div>
        <div style="display: inline-block">
            <iframe style="border-radius: 8px;margin-left: 24px;" src="../dashboards/dash_setor_Telecomunicações.html"
                height="600" width="700"></iframe>
        </div>
    </div>
    <h3>
        Utilidade Pública
    </h3>
    <div style="width: 100%; overflow: hidden;margin-top:12;">
        <div style="display: inline-block">
            <iframe style="border-radius: 8px;" src="../reports/completo_Utilidade_Pública.html" frameborder="0"
                height="600" width="700"></iframe>
        </div>
        <div style="display: inline-block">
            <iframe style="border-radius: 8px;margin-left: 24px;" src="../dashboards/dash_setor_Utilidade_Pública.html"
                height="600" width="700"></iframe>
        </div>
    </div>

</body>

</html>